//- partials represent snippets to be rendered, not full pages
    this is the navigation partial for the forum page

ul.page-nav
    li
        span= 'Select: '
        select#select
            option(id='category', value='category', selected='selected') Category
            option(id='topic', value='topic') Topic
    li
        span= 'Owner: '
        select#owner
            option(value='all-users', selected='selected') (default) All users
            - each owner in #{owners}
                option(value='#{\'owner_\'+owner.id}') #{owner.name}
    li
        span= 'Order By: '
        select#order
            option(value='oldest', selected='selected') oldest
            option(value='newest') newest