append page-nav
	#page-nav.column-item.flex-parent.column
		.flex-parent.row.layout-column.column-item
			.flex-spaced.row-item.flex-parent.column
				.flex-none.flex-middle.flex-parent.row
					span.flex-none.row-item #{'Search: '}
					textarea(id='search', class='flex-fill row-item', rows='1', wrap='off')
					span.flex-none.row-item #{'Order By: '}
						select#order
							option(value='oldest', selected='selected') oldest
							option(value='newest') newest
			.flex-spaced.row-item.flex-parent.column
				.flex-none.flex-middle.flex-parent.row
					span.flex-none.row-item #{'Welcome, '}
						span(id='user-name', class='link', data-id=id) #{name}
						span !
					.flex-fill
					span.flex-none.row-item #{'Chat: '}
						select#online
							option ( Forum )
							if online !== undefined
								each user in online
									option(value='#{user.name}') #{user.name}